.btn--icon
 padding 125px

.buttonMenu
  margin-top 10%
  margin-bottom 4%
  overflow hidden

  #full-menu
    background-image url("/imgs/Full-list.png")
    margin 20px
    &:hover
      background-image url("/imgs/Full-list_Hover.png")

  #HOF
    background-image url("/imgs/HallofFame.png")
    margin 20px
    &:hover
      background-image url("/imgs/HallofFame_Hover.png")

  #info
    background-image url("/imgs/Info.png")
    margin 20px
    &:hover
      background-image url("/imgs/Info_Hover.png")
