/*
 * Button
 */

.btn
  border 0
  padding 1em 1.5em
  font-size 1rem
  font inherit
  text-align center
  border-radius 3px
  cursor pointer
  display inline-block
  text-decoration none
  width 80%

.btn--warning
  background warningColor
  color #FF6F00

.btn--primary
  background-color #FF6F00
  color #1A1A1A

  &:hover
    background darken(#FF6F00, 15)

.btn--active
  background darken(#FF6F00, 10)
