section
  padding 15px
  border groove 2px

label
  margin 10px

#hide
  opacity 0
  transition opacity 0.4s ease-in
  -ms-transition opacity 0.4s ease-in
  -moz-transition opacity 0.4s ease-in
  -webkit-transition opacity 0.4s ease-in

#seen
  opacity 1
  transition opacity 0.4s ease-in
  -ms-transition opacity 0.4s ease-in
  -moz-transition opacity 0.4s ease-in
  -webkit-transition opacity 0.4s ease-in
