body, html
  background-color black
  margin 0
  padding 1em
  font 14px/1.4 'Helvetica Neue', Helvetica, Arial
  color  #FF6F00

#mainView

 margin-left 8%
 margin-right 8%
 text-align center

 h1
  background-color #000080
  border-style dotted
  border-width 5px
  font-size 100px
  float center

@import '../components/repository'
// @import 'bootstrap/dist/css/bootstrap.css'
